@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito',sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to bottom right, #bf2e34 0%, #753862 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: rgba(255,255,255,0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0rem 3rem 5rem rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    overflow: hidden; /* div - goes outside the box -trimmed*/
    display: flex; /* inner parts flexible - change*/
}

.player{
    flex: 50%;
    display: flex;
    padding: 9rem;
    /* flex: 50%; */
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
}

/*elements*/
.name{
    /* position: relative;  */
    font-size: 4rem;
    /**/
    /* letter-spacing: 1px; */
    font-weight: 300;
    margin-bottom: 1rem;
    /* word-spacing: 2px; */
}
.score{
    font-weight: 400;
    color: #c7365f;
    font-size: 8rem;
    margin-bottom: auto;
    text-align: center;
}

.active{
    background-color: rgba(255, 255, 255, 0.4);
}
.active .name{
    font-weight: 700;
}
.active .score{
    font-weight: 400;
}

.current{
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #ffffff;
    text-align: center;
    width: 65%;
    transition: all 0.75s;
    padding: 2rem;
    margin-top: 12rem;
}

.current-label{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
}

.current-score{
    font-size: 3.5rem;
}

.btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: none;
    border: none;
    color: #444;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;/*changes cursor to hand*/
    font-weight: 400;
    transition: all 0.2s;

    background-color: white;
    
    /* backdrop-filter: blur(10px); */

    padding: 0.7rem 2.5rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0,0,0,0.1);
    border-radius: 50rem;
}

.btn-new{
    top: 4rem;
}
.btn-roll{
    top: 39rem;
}
.btn-hold{
    top: 46rem;
}
.btn:active{
    transform: translate(-50%,3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.dice{
    position: absolute;
    left: 50%;
    top: 16.5rem;
    transform: translate(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0,0,0,0.3);
}

.winner{
    position: absolute;
    width: 55rem;
    height: 15rem;
    background-color: rgba(255,255,255,0.8);
    font-size: 3rem;
    justify-content: center;
    border-radius: 9px;
    text-align: center;
    z-index: 10;

}
.message{
    position: relative;
    margin-top: 2rem;
}
.newgame{
    margin-top: 2rem;
}
.hidden{
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
